.Weather {
  border: 1px solid #73DAE7;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  color: #4B9BBE;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0 ;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  margin-top: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color:#73DAE7;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1px;
  top: -32px;
  margin-left: 5px;
}

.WeatherEmoji {
  margin-bottom: 10px;
}
